{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HOME</title>
</head>
<body>
    <!-- container start -->
    <div class="container">
        <!-- sidebar start -->
        <div class="sidebar">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" alt="">
                </a>
            </div>
            <!-- Profile User -->
            <div class="profile">
                <div class="photo_profile">
                    {% if user.photo_profile %}
                        <img src="{{ user.photo_profile.url }}" alt="Profile Photo">
                    {% endif %}
                </div>
                <div>
                    <p>{{ user.name }}</p>
                    <p>{{ user.get_role_display }}</p>
                </div>
            </div>
            <div class="sidebar-menu">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i>
                    หน้าหลัก
                </a>
                <a href="{% url 'face_detection' %}">
                    <i class="fa-solid fa-expand"></i>
                    สแกนหน้า
                </a>
                <!-- <a href="#">
                    <i class="fa-solid fa-video"></i>
                    กล้องวงจร
                </a>
                <div class="submenu">
                    <a href=""><i class="fa-solid fa-chevron-right"></i>กล้องตรวจจับ</a>
                    <a href=""><i class="fa-solid fa-chevron-right"></i>กล้องตรวจความถี่พื้นที่</a>
                </div> -->
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    ระบบจัดการบุคคล
                </a>
                <div class="submenu">
                    <a href=""><i class="fa-solid fa-chevron-right"></i>รายชื่อสมาชิก</a>
                    <a href=""><i class="fa-solid fa-chevron-right"></i>สมัครแคชเชียร์</a>
                    <a href=""><i class="fa-solid fa-chevron-right"></i>รายชื่อแคชเชียร์</a>
                </div>
                <a href="">
                    <i class="fa-solid fa-chart-line"></i>
                    รายงานความหนาแน่น
                </a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        ออกจากระบบ</button>
                </form>
            </div>            
        </div>
        <!-- sidebar end -->
        
        
        <div class="content">
            <!-- nav start -->
            <nav>
            </nav>
            <!-- nav end -->
            <!-- footer start -->
            <footer><h6>alpha tracking(c)</h6>
            </footer>
        <div class="main">

            </div>
        </div>
    </div>
    <!-- container end -->
</body>
</html>
